.notificationWrapperError,
.notificationWrapperWarning,
.notificationWrapperSuccess {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2rem 2rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.6rem;
}

.notificationWrapperError {
  background-color: var(--red-color-2);
  color: var(--red-color-1);
}

.notificationWrapperSuccess {
  color: var(--white-color);
  background-color: var(--green-color-1);
}
