.profileImageEditButton,.profileImageEditButtonFollowed {
  align-self: flex-start;
  margin-top: 1rem;
  padding: 1.2rem 1.6rem;
  font-weight: 700;
  border-radius: 2.5rem;
  border: 1px solid var(--blue-color-1);
  background-color: transparent;
  transition:  .2s ease-in background-color;
  color: var(--blue-color-1);
}

.profileImageEditButton:hover {
  background-color: var(--blue-color-2);
}

.profileImageEditButtonFollowed {
  background-color: var(--blue-color-1);
  color: var(--white-color);
}

.profileImageEditButtonFollowed:hover {
  background-color: var(--red-color-3);
  border: 1px solid var(--red-color-3);
}
