.userInSearchItem {
  list-style: none;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  transition: background-color .2s ease-out;
  border: 1px solid var(--blue-color-4);
}

.userInSearchItem:hover {
  background-color: var(--blue-color-2);
}

.userInSearchItem span {
  margin-left: .8rem;
  color: var(--blue-color-7);
  font-size: 1.5rem;
}
