.userInSearchLink:link,
.userInSearchLink:visited {
  text-decoration: none;
  color: var(--blue-color-7);
}

.userInSearchItem {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  border-bottom: 1px solid var(--blue-color-4);
  position: relative;
}

.userInSearchItem:hover {
  background-color: var(--blue-color-5);
}

.userInSearchItem span {
  margin-left: 0.8rem;
  color: var(--blue-color-7);
  font-size: 1.5rem;
  transition: color 0.2s ease-out;
}

.userInSearchItem div,
.userInSearchItem svg {
  border: 2px solid transparent;
  transition: border 0.2s ease-out, fill 0.2s ease-out;
}

.userInSearchItem:hover.userInSearchItem span {
  color: var(--blue-color-1);
}

.userInSearchItem:hover.userInSearchItem div:first-child,
.userInSearchItem:hover.userInSearchItem svg {
  border: 2px solid var(--blue-color-1);
  fill: var(--blue-color-1);
}

.userInSearchAcceptance {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
}

.userInSearchAcceptance button {
  padding: 1rem 1.2rem;
  border-radius: 3px;
  font-weight: 700;
  transition: background-color 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
}

.userInSearchAcceptance button:first-child {
  background-color: var(--blue-color-1);
  color: var(--white-color);
  margin-right: 2.5rem;
  transform: translateX(-100%);
  opacity: 0;
}

.userInSearchAcceptance button:first-child:hover {
  background-color: var(--blue-color-1-darken);
}

.userInSearchAcceptance button:last-child {
  background-color: var(--grey-color-4);
  color: var(--white-color);
  transform: translateX(100%);
  opacity: 0;
}

.userInSearchAcceptance button:last-child:hover {
  background-color: var(--grey-color-5);
}

.userInSearchAcceptance:hover.userInSearchAcceptance button {
  transform: translateX(0);
  opacity: 1;
}

.userInSearchPending button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  z-index: 500;
  background-color: var(--red-color-4);
  opacity: 0;
  color: var(--white-color);
  border-radius: 2.5rem;
  padding: 1rem 1.6rem;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, background-color 0.2s ease-out;
}

.userInSearchPending button:hover {
  background-color: var(--red-color-3);
}

.userInSearchItem:hover .userInSearchPending button {
  transform: translate(-50%, -50%);
  opacity: 1;
}
