.chatMessageItemAdmin,.chatMessageItemVisitor {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 2rem;
}

.chatMessageItemAdmin:first-child,.chatMessageItemAdmin:last-child
.chatMessageItemVisitor:first-child,.chatMessageItemVisitor:last-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chatMessageItemAdmin:not(:first-child),.chatMessageItemVisitor:not(:last-child) {
  margin-top: 1rem;
}

.chatMessageItemVisitor {
  justify-content: flex-end;
  padding-right: 0;
}

.chatMessageItemAdmin span:first-child,
.chatMessageItemVisitor span:first-child {
  color: var(--blue-color-7);
  width: max-content;
  white-space: nowrap;
}

.chatMessageItemAdmin span:nth-child(2),
.chatMessageItemVisitor span:nth-child(2){
  padding: 1rem 1.2rem;
  background-color: var(--blue-color-6);
  color: var(--white-color);
  border-radius: 2.5rem;
  width: max-content;
  word-break: break-all;
}

.chatMessageItemVisitor span:last-child {
  margin-left: .8rem;
}
