.tweetCreatorContainer {
  padding: 1rem 1.7rem;
  border-bottom: 10px solid var(--blue-color-4);
  border-left: 1px solid var(--blue-color-4);
  border-right: 1px solid var(--blue-color-4);
}

.tweetCreatorHeader {
  display: flex;
  align-items: center;
}

.tweetCreatorTextarea {
  min-height: 17px;
  max-height: 150px;
  overflow: hidden;
  padding: 1.8rem 0;
  border: none;
  position: relative;
}

.tweetCreatorTextarea:focus {
  outline: none;
}
.tweetCreatorTextarea[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

.tweetCreatorTextarea {
  border: none;
}

.tweetCreatorFormButtons {
  margin-top: 3.5rem;
}

.tweetCreatorTagUsername {
  position: absolute;
  left: 0;
  top: 2rem;
  background-color: var(--white-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 50rem;
  height: 25rem;
  z-index: 10000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tweetCreatorTagUsername::-webkit-scrollbar {
  width: 5px !important;
  background-color: var(--blue-color-2);
}

.tweetCreatorTagUsername::-webkit-scrollbar-thumb {
  background-color: var(--blue-color-3);
}
