.usersInSearchDummy {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.usersInSearchDummy {
  border-bottom: 1px solid var(--blue-color-4);
}

.usersInSearchDummyImg {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--blue-color-4);
}

.usersInSearchDummyText {
  margin-left: .8rem;
  height: 1.7rem;
  background-color: var(--blue-color-4);
  width: 100%;
}


.usersInSearchDummyItem {
  position: relative;
  overflow: hidden;
}

.usersInSearchDummyItem::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.8;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  animation: animateDummyUserInSearch 1.5s ease-out infinite alternate-reverse;
}

@keyframes animateDummyUserInSearch {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
