.tweetsContainer {
  border: 1px solid var(--blue-color-4);
  border-top: none;
}

.tweet {
  display: flex;
   border-bottom: 1px solid var(--blue-color-4);
   padding: 2rem 1.7rem;
}

.tweetItemReplyContainer {
  opacity: 0;
  pointer-events: none;
  position: absolute;
    -webkit-animation: tweetItemReplyHide .3s ease-in; /* Safari 4+ */
  -moz-animation:    tweetItemReplyHide .3s ease-in; /* Fx 5+ */
  -o-animation:      tweetItemReplyHide .3s ease-in; /* Opera 12+ */
  animation:         tweetItemReplyHide .3s ease-in; /* IE 10+, Fx 29+ */
}

.tweetItemReplyContainerShow {
  max-height: 50rem;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: unset;
  -webkit-animation: tweetItemReply .3s ease-in; /* Safari 4+ */
  -moz-animation:    tweetItemReply .3s ease-in; /* Fx 5+ */
  -o-animation:      tweetItemReply .3s ease-in; /* Opera 12+ */
  animation:         tweetItemReply .3s ease-in; /* IE 10+, Fx 29+ */
}

.tweetItemReplyContainer,.tweetItemReplyContainerShow::-webkit-scrollbar {
  width: 5px !important;
  background-color: var(--blue-color-2);
}

.tweetItemReplyContainer,.tweetItemReplyContainerShow::-webkit-scrollbar-thumb {
  background-color: var(--blue-color-3);
}

.tweetItemReplyCreator {
  min-height: 17px;
  max-height: 150px;
  max-width: 55rem;
  overflow:hidden;
  padding: 1.8rem;
  border: none;
}

.tweetItemReplyCreator:focus {
  outline: none;
}

.tweetItemReplyCreator[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

.tweetItemReplyCreator {
  border: none;
}

@keyframes tweetItemReply{  
      0%   { 
      opacity: 0;
    }
  100% { 
    opacity: 1;
  }
}

@keyframes tweetItemReplyHide {
      0%   { 
      visibility: visible;
    }
  100% { 
    visibility: hidden;
  }
}
